@import "tailwindcss";

:root {
  --text: #1f1f1f;
  --background: #dae2e2;
  --primary: #1e1610;
  --secondary: #cbc1b4;
  --accent: #815128;

  margin: 0;
}

:root[data-theme="dark"] {
  --text: #e0e0e0;
  --background: #1d2525;
  --primary: #efe7e1;
  --secondary: #4b4134;
  --accent: #d7a87e;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-semibold {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
}

.dm-serif-display-bold {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-style: normal;
}

html, body {
  min-height: 100vh;
  width: 100%;

  background-color: var(--background);
  
  font-family: "DM Serif Text", serif;
}

/* Base: Mobile-first */
h1 { font-size: 2rem; }     /* 32px */
h2 { font-size: 1.75rem; }  /* 28px */
h3 { font-size: 1.5rem; }   /* 24px */
h4 { font-size: 1.25rem; }  /* 20px */
h5 { font-size: 1.125rem; } /* 18px */
h6 { font-size: 1rem; }     /* 16px */

/* Larger screens */
@media (min-width: 768px) {
  h1 { font-size: 2.5rem; }  /* 40px */
  h2 { font-size: 2rem; }    /* 32px */
  h3 { font-size: 1.75rem; } /* 28px */
  h4 { font-size: 1.5rem; }  /* 24px */
  h5 { font-size: 1.25rem; } /* 20px */
  h6 { font-size: 1rem; }    /* 16px */
}