@import "tailwindcss";

:root {
  --primary: #D4AF37;
  --secondary: #F5C9A8;
  --accent: #D4AF37;

  --text-primary: #FFFFFF;
  --text-secondary: #E0E0E0;
  --background: #1C1C1E;

  --card: #2D2D30;
  --captions-icons: #A0A0A0;

  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 42px;

  color: var(--text-primary)
}

h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 28px;
}

.body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;

  color: var(--text-primary);
}

.caption {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.header-nav-link {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 12px;
}

.header-nav-link-active {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 14px;
}

html, body {
  min-height: 100vh;
  width: 100%;

  background-color: var(--background);
}

/* Hide Scrollbar */
/* body {
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
} */